{% extends 'user/base.html' %}
{% block content %}
<h2>Рассылки</h2>
<a href="{% url 'user:mailing_create' %}" class="btn btn-success mb-3">Создать новую рассылку</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Сообщение</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for mailing in mailings %}
    <tr>
        <td>{{ mailing.id }}</td>
        <td>{{ mailing.message.title }}</td>
        <td>{{ mailing.get_status_display }}</td>
        <td>
            {% if request.user == mailing.owner or request.user.groups.all.0.name == 'Менеджер' %}
            <a href="{% url 'user:mailing_detail' mailing.pk %}" class="btn btn-info btn-sm">Просмотр</a>
            <a href="{% url 'user:mailing_update' mailing.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
            <a href="{% url 'user:mailing_delete' mailing.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Рассылки отсутствуют</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
